*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: white; 
}
.div1{
    background-color: white;
    display: flex;
}
.box-blu{
    background-color: rgb(0, 128, 255);
}
body{
    font-family:'Calibri';
}
.material-symbols-outlined {
    color: rgb(15, 230, 22);
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 18,
}
