*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    margin: 10px;
}
header{
    background-color: white; 
}
.generale {
    width: 70%;
    margin: auto;
    background-color: white;
    padding: 60px;
}
.div1{
    background-color: white;
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    padding: 15px 50px;
    border-bottom: 2px solid lightgray;
}
.box-blu{
    background-color: rgb(0, 128, 255);
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 8px;
    margin-right: 5px;
}
.box-bianco{
    border: solid 2px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 8px;
    margin-right: 5px;
    border-color: lightslategrey; 
}
.centro{
    display: inline-block;
}
.bottom{
    display: inline-block;
}
body{
    font-family:'Calibri';
    background-color: lightgray;
}
.material-symbols-outlined {
    color: rgb(15, 230, 22);
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 18,
}
#cancel{
    color: red;
}
.editorial{
    background-color: rgb(78, 160, 241);
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 20px;
    margin-right: 5px;
    font-size: 12px;
}
.viola{
    background-color: rgb(169, 31, 164);
    padding: 5px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 20px;
    margin-right: 5px;
    font-size: 12px;
}
.green{
    background-color: rgb(24, 209, 45);
    padding: 5px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 20px;
    margin-right: 5px;
    font-size: 12px;
}
.Mobile{
    background-color: rgb(234, 68, 22);
    padding: 5px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 20px;
    margin-right: 5px;
    font-size: 12px;
}
.fuc{
    background-color: rgb(251, 5, 231);
    padding: 5px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 20px;
    margin-right: 5px;
    font-size: 12px;
}